<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.helpNother">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.android.helpNother.Admin.History_Show_All" />
        <activity android:name="com.android.helpNother.Admin.AllTrades" />
        <activity android:name="com.android.helpNother.Login.Forgot_code" />
        <activity
            android:name="com.android.helpNother.Begin_Application"
            android:theme="@style/Begin_App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.helpNother.Profil.EditProfile" />
        <activity android:name="com.android.helpNother.Login.Account_Google" />
        <activity android:name="com.android.helpNother.Admin.PostAdmin" />
        <activity android:name="com.android.helpNother.home.Post_activity" />
        <activity android:name="com.android.helpNother.Admin.ShowUsers" />
        <activity android:name="com.android.helpNother.Admin.AdminConnect" />
        <activity
            android:name="com.android.helpNother.Connect_Fragment"
            android:label="@string/title_activity_main2"
            android:theme="@style/Begin_App" />
        <activity
            android:name="com.android.helpNother.Login.LoginActivity"
            android:theme="@style/Begin_App" />
        <activity
            android:name="com.android.helpNother.Login.RegistrationActivity"
            android:theme="@style/Begin_App" />
        <activity
            android:name="com.android.helpNother.Start_Application"
            android:theme="@style/Begin_App" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>